@page "/downloads"
@using Octokit;
@using Client;
@using LauncherBlazorSite.Client.UIComponents;
<link href="css/page.downloads.css" rel="stylesheet" />

<PageTitle>Downloads</PageTitle>

@if (releasefetch == null)
{
    <Preloader_TextRing />
}
else
{
    <div class="git-release">
        <div class="git-release">
            <h3>@releasefetch.Name</h3>
            <MarkdownString Markdown="@releasefetch.Body" />
        </div>
        <div class="git-release">
            <h4>Downloads:</h4>
            <div class="git-assets">
                @foreach (var asset in releasefetch.Assets)
                {
                    <a href="@asset.BrowserDownloadUrl" download="@asset.Name">@asset.Name</a>
                }
            </div>
        </div>
    </div>
}

@code {
    private static DateTimeOffset? lastfetch;
    private static Task<Release>? t_releasefetch;
    private static Release? releasefetch;

    protected override async Task OnInitializedAsync()
    {
          var thenow = DateTimeOffset.Now;
        if (t_releasefetch == null || lastfetch == null || (thenow - lastfetch.Value) > TimeSpan.FromMinutes(5))
        {
            lastfetch = thenow;
            t_releasefetch = StaticResources.GithubClient.Repository.Release.GetLatest("Leayal", "PSO2-Launcher-CSharp");
        }
        releasefetch = await t_releasefetch;
    }
}
